body {
	background-color: white;
	font-family: Georgia, serif;
}

#layout-menu {
	background-color: #f8f8f8;
	border: 1px solid #c0c0c0;
	padding-top: 0.5em;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 1.0em;
	width: 150px;
}

#layout-menu a {
	line-height: 1.5em;
	margin-left: 0.5em;
}

tt {
	color: green;
}

pre, tt {
	font-size: 90%;
	font-family: monaco, monospace;
}


a, a > tt {
	color: #305080;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px #305080 dotted;
}

#layout-menu a.current:link, #layout-menu a.current:visited {
	color: #204070;
	border-bottom: 1px gray solid;
}
#layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
	color: #527bbd;
	text-decoration: none;
}
#layout-menu a:hover {
	text-decoration: none;
}

div.menu-category {
	border-bottom: 1px solid gray;
	margin-top: 0.8em;
	padding-top: 0.2em;
	padding-bottom: 0.1em;
	font-weight: bold;
}

div#toptitle {
	padding-bottom: 0.2em;
	margin-bottom: 1.5em;
	border-bottom: 1px double #c0c0c0;
}

/* Reduce space if we begin the page with a title. */
div#toptitle + h2, div#toptitle + h3 {
	margin-top: -0.5em;
}

div#toptitle h1 {
	margin-bottom: 0.0em;
	padding-bottom: 0.1em;
	padding-top: 0;
	margin-top: 0.5em;
	border-bottom: none;
}

div#subtitle {
	margin-top: 0.0em;
	margin-bottom: 0.0em;
	padding-top: 0em;
	padding-bottom: 0.1em;
}

#layout-content {
	padding-top: 0.0em;
	padding-left: 1.0em;
	padding-right: 1.0em;
}

@media print {
	#layout-menu { display: none; }
}
/* Debug borders */
p, li, dt, dd, div, pre, h1, h2, h3, h4, h5, h6 {

	/*border: 1px solid red;*/

}

body {
	margin: 0;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}


h1, h2, h3, h4, h5, h6 {
	color: #204070;
	margin-top: 0.9em;
	margin-bottom: 0.3em;
	padding-bottom: 0.2em;
	line-height: 1.0;
	padding-top: 0.5em;
	border-bottom: 1px solid #c0c0c0;
}

h1 {
	font-size: 160%;
}

h2 {
	padding-top: 0.5em;
	font-size: 115%;
}

h2 + h3 {
    padding-top: 0.2em;
}


h3 {
	font-size: 110%;
	border-bottom: none;
}

hr {
	border: 1px solid gray;
}

p {
	margin-top: 0.0em;
	margin-bottom: 0.8em;
	padding: 0;
	line-height: 1.3;
}

pre {
	padding: 0;
	margin: 0;
}

div#footer {
	font-size: small;
	color: #c0c0c0;
	border-top: 1px solid #c0c0c0;
	padding-top: 0.1em;
	margin-top: 4.0em;
}
div#footer a {
	color: #80a0d0;
}

div#footer-text {
	float: left;
	padding-bottom: 0.5em;
}

ul, ol, dl {
	margin-top: 0;
	padding-top: 0;
}

dt {
	margin-top: 0.5em;
	margin-bottom: 0;
}

dl {
	margin-left: 20px;
}

dd {
	color: #222222;
}

dd > *:first-child {
	margin-top: 0;
}


ul {
	list-style-position: outside;
	list-style-type: square;
}

p + ul, p + ol {
	margin-top: -0.4em;
}

li ul, li ol {
	margin-top: 0.4em;
}

ol {
	list-style-position: outside;
	list-style-type: decimal;
}

li {
	margin-bottom: 0.5em;
}

ol ol {
	list-style-type: lower-alpha;
}

ol ol ol {
	list-style-type: lower-roman;
}

div.codeblock, div.infoblock {
	margin-right: 0%;
	margin-top: 0.8em;
	margin-bottom: 1.3em;
}

div.blocktitle {
	font-weight: bold;
	color: #204070;
	margin-top: 0.8em;
	margin-bottom: 0.1em;
}

div.blockcontent {
	border: 1px solid #c0c0c0;
	padding: 0.3em 0.5em;
}

div.infoblock > div.blockcontent {
	background: #ffffee;
}

div.blockcontent p + ul, div.blockcontent p + ol {
	margin-top: 0.4em;
}

div.infoblock p {
	margin-bottom: 0em;
}

div.infoblock p + p {
	margin-top: 0.8em;
}

div.codeblock > div.blockcontent {
	background: #f6f6f6;
}

span.pycommand {
	color: #000080;
}

span.comment {
	color: #808080;
}
